.upper_buttons {
    position: absolute;
    right: 1px;
}
.upper_buttons a {
    margin: 10px;
}

.logo {
    position:relative;
    left: 10px;
}

.main {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}