body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.upper_buttons {
    position: absolute;
    top: 1px;
    right: 1px;
}
.upper_buttons a {
    margin: 10px;
}

.main {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}